:root {
  --primary-color: rgb(185, 116, 12);
  --secondary-color: rgb(107, 76, 50);
  --accent-color: white;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  --border-radius: 15px;
}

body {
  margin-top: 100px;
  padding: 40px;
  display: block;
  margin: auto;
  font-family: "quicksand", cursive;
  background: #f8e8a6;
}

h3 {
  font-size: 48px;
  color: var(--secondary-color);
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
}

.about-croissants {
  color: var(--secondary-color);
  max-width: 400px;
  display: block;
  margin: 20px auto;
}

.email-link,
.phone {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.email-link:hover {
  color: var(--secondary-color);
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  flex: 1;
  text-align: center;
  border: 1px solid var(--accent-color);
  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  max-width: 200px;
}

.navigation-links a:hover {
  text-decoration: underline;
  color: var(--accent-color);
  background: var(--secondary-color);
}

.link {
  border-radius: var(--border-radius);
}

.croissant-img {
  width: 500px;
  display: block;
  margin: 40px auto;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

@media (max-width: 576px) {
  h1 {
    font-size: 32px;
  }

  h3 {
    display: none;
  }

  body {
    background: #ffffff;
  }

  .email-link,
  .phone {
    font-size: 18px;
  }
}
